<% layout('layout') -%>

<h1><%= title %></h1>
<form action='/create' method='post' accept-charset='utf-8'>
    <input type='text' name='content' />
</form>

<ul>
<% todos.forEach(function(todo){ %>
    <li>
    <% if( todo.id == current ){ %>
        <form action='/update/<%= todo.id %>' method='post' accept-charset='utf-8'>
            <input type='text' name='content' value='<%= todo.content %>' />
        </form>
    <% } else { %>
            <%= todo.content %>
            Created at: <%= todo.updated_at %>
            <a href='/destroy/<%= todo.id %>' title='Delete this todo item'>Delete</a>
    <% } %>
    </li>
<% }); %>
</ul>